* {
    margin:  0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    
  }

  
body{
    background-color: #330033;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    display: flex;
    justify-content: center;
}

p{
    padding-bottom: 15px;
}

.Main{
    width: 80%;
}

.headerMain{
    padding-top: 30px;
    padding-bottom: 30px;
    color: white;
    border-bottom-width: 2px;
    border-bottom-style:dashed;
    border-bottom-color: white;
}

.contentMain{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;

}

.Menu{
    width: 30%;
    position: relative;
}

.side{
    width: 68%;
}

.card {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}

.cardVideo {
    width: 50%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}

.cardTraining {
    width: 50%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 10px;
}

.cardTitle{
    font-weight: 800;
    font-size: 1.5rem;
    border-bottom-width: 2px;
    border-bottom-style: dotted;
    border-bottom-color: blue;
}

.cardContent{
    padding-top: 8px;
    font-weight: 400;
}

.cardContentImg{
    padding-top: 8px;
    font-weight: 400;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cardContentImg img{
    padding-bottom: 30px;
    width: 200px;
    height: 300px;
}

.cardContentTraining{
    display: flex;
    flex-direction: column;
}

.inputTraining{
    display: flex;
}

text {
    pointer-events: none;
  }
  
.node:hover {
stroke: #999;
stroke-opacity: .6;
stroke-width: 4px;
}

.link {
    stroke: #999;
    stroke-opacity: .6;
}


#tablePrediction {
font-family: Arial, Helvetica, sans-serif;
border-collapse: collapse;
width: 100%;
}

#tablePrediction td, #tablePrediction th {
border: 1px solid #ddd;
padding: 8px;
width: 50%;
}

#tablePrediction tr:nth-child(even){background-color: #f2f2f2;}

#tablePrediction tr:hover {background-color: #ddd;}

#tablePrediction th {
padding-top: 12px;
padding-bottom: 12px;
text-align: left;
background-color: #04AA6D;
color: white;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 100%;
    border-radius: 3px;
    margin: 3px 0;
}

input[type=text] {
    width: 100%;
    padding: 3px 3px;
    margin: 3px 3px;
    box-sizing: border-box;
}

.numberOfTrainings{
    margin: 3px 3px;
    width: 100px;
    border-style:groove;
    display: flex;
    justify-content: center;
    align-items: center;
}

.controlsVideo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.VideoCamTraining{
    display: flex;
    justify-content:space-between;
    gap: 10px;
}

#className{
    height: 60px;
}

#positionFront{
    padding: 10px;
}
#positionRear{
    padding: 10px;
}

@media all and (max-width: 600px){
    .contentMain{
        padding-top: 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
    
    }
    .Menu{
        width: 100%;
    }
    
    .side{
        width: 100%;
    }

    button {
        width: 100%;
    }

    .cardContentImg img{
        padding-bottom: 10px;
        width: 150px;
        height: 200px;
    }

    .cardVideo {
        width: 100%;
    }
    
    .cardTraining {
        width: 100%;
    }
    .VideoCamTraining{
        width: 88%;
        display: flex;
        flex-direction: column;
        gap:1px;
    }
}